* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: brown;
}

.h-50 {
	height: 50px;
}

.percent {
	background-color: aqua;
	width: 50%;
}

.p80 {
	background-color: bisque;
	width: 80%;
}
.p50 {
	background-color: yellow;
	width: 50%;
}
.dannehend {
	font-family: dannehand;
}

@font-face {
	font-family: "dannehand";
	src: url("./fonts/Daneehand\ Regular\ Cyr.ttf");
}
